
/* set up */
body {
    background-image: url("https://i.pinimg.com/564x/13/dc/16/13dc168ca5b1672a9135bfe5c572129d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } 

h1 {
    position: absolute;
    left: 80px;
    top: 200px;
    background-color: #e6d7de; 
    border: none;
    color: #000000;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
#yes-button {
    position: absolute;
    left: 80px;
    top: 300px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#no-button {
    position: absolute;
    left: 180px;
    top: 300px;
    background-color: #cc0000; /* red */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
